foo
*.iso
*.img
result
secrets
.bkp
vendor/
.DS_Store
result-*
hack/secrets.sh
hack/original_k8s/
hack/longhorn/
uptime-bot/secrets
id_ed25519
hack/longhorn
*.env
kubeconfig
talosconfig
controlplane.yaml
worker.yaml
talos/*
!talos/README.md
!talos/factory.md
secrets.*
__pycache__/
appdaemon
1password-credentials.json