{
  "nodes": {
    "gatus": {
      "hostname": "000.00.000.000",
      "tailscaleHostname": "digitalocean-nixos-01.tailcecc0.ts.net",
      "sshUser": "root"
    },
    "foundry": {
      "hostname": "000.00.000.000",
      "tailscaleHostname": "digitalocean-foundry-01.tailcecc0.ts.net",
      "sshUser": "root"
    }
  }
}
