{
  "nodes": {
    "gatus": {
      "hostname": "GATUS_IP",
      "tailscaleHostname": "digitalocean-gatus-01.tailcecc0.ts.net",
      "sshUser": "root"
    },
    "foundry": {
      "hostname": "FOUNDRY_IP",
      "tailscaleHostname": "digitalocean-foundry-01.tailcecc0.ts.net",
      "sshUser": "root"
    }
  }
}
