apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  sources:
    - repoURL: https://github.com/yurifrl/home-systems.git
      targetRevision: HEAD
      path: k8s/charts/support
      helm:
        valuesObject:
          externalSecrets:
            - name: cloudflare-api-token-cert-manager
    - repoURL: https://charts.jetstack.io
      chart: cert-manager
      targetRevision: "1.16.3"
      helm:
        valuesObject:
          installCRDs: true
          prometheus:
            enabled: true
            servicemonitor:
              enabled: true
          resources:
            limits:
              cpu: 100m
              memory: 128Mi
            requests:
              cpu: 50m
              memory: 64Mi