apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: external-secrets
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: external-secrets
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  source:
    chart: external-secrets
    repoURL: https://charts.external-secrets.io
    targetRevision: "*"
    helm:
      valuesObject:
        installCRDs: true
        replicaCount: 1
        leaderElect: true
        serviceMonitor:
          enabled: true
          interval: 1m
        webhook:
          serviceMonitor:
            enabled: true
            interval: 1m
        certController:
          serviceMonitor:
            enabled: true
            interval: 1m
        resources:
          limits:
            cpu: 100m
            memory: 256Mi
          requests:
            cpu: 50m
            memory: 128Mi 